In [1]:
import numpy as np
import pandas as pd

In [2]:
rows = ['X','Y','Z']

cols = ['A', 'B', 'C', 'D', 'E']

In [6]:
data = np.round(np.random.randn(3,5),2)
data

array([[-0.07, -2.12,  0.09, -0.19,  0.16],
       [-2.16, -0.61, -1.46, -0.31, -0.37],
       [ 0.55, -2.15,  0.25, -0.81,  0.2 ]])

In [7]:
pd.DataFrame(data, rows, cols)

      A     B     C     D     E
X -0.07 -2.12  0.09 -0.19  0.16
Y -2.16 -0.61 -1.46 -0.31 -0.37
Z  0.55 -2.15  0.25 -0.81  0.20

In [8]:
pd.DataFrame(np.round(np.random.randn(3,5),2), ['X','Y','Z'], ['A', 'B', 'C', 'D', 'E'])

      A     B     C     D     E
X -0.07  0.65  1.02  0.30  0.06
Y  0.22  0.20  1.42  0.83 -0.15
Z -0.72 -1.10  0.62 -0.24  0.43

In [9]:
df = pd.DataFrame(data, rows, cols)

df['A']

X   -0.07
Y   -2.16
Z    0.55
Name: A, dtype: float64

In [11]:
wantedCol = ['A', 'E']

df[wantedCol]

      A     E
X -0.07  0.16
Y -2.16 -0.37
Z  0.55  0.20

In [13]:
df['B']['Z']

-2.15

In [14]:
df['A + B'] = df['A'] + df['B']

df

      A     B     C     D     E  A + B
X -0.07 -2.12  0.09 -0.19  0.16  -2.19
Y -2.16 -0.61 -1.46 -0.31 -0.37  -2.77
Z  0.55 -2.15  0.25 -0.81  0.20  -1.60

In [15]:
df.drop('A + B', axis = 1)

      A     B     C     D     E
X -0.07 -2.12  0.09 -0.19  0.16
Y -2.16 -0.61 -1.46 -0.31 -0.37
Z  0.55 -2.15  0.25 -0.81  0.20

In [18]:
df

      A     B     C     D     E
X -0.07 -2.12  0.09 -0.19  0.16
Y -2.16 -0.61 -1.46 -0.31 -0.37
Z  0.55 -2.15  0.25 -0.81  0.20

In [17]:
df.drop('A + B', axis=1, inplace=True)

In [19]:
df

      A     B     C     D     E
X -0.07 -2.12  0.09 -0.19  0.16
Y -2.16 -0.61 -1.46 -0.31 -0.37
Z  0.55 -2.15  0.25 -0.81  0.20

In [20]:
df.drop('Z')

      A     B     C     D     E
X -0.07 -2.12  0.09 -0.19  0.16
Y -2.16 -0.61 -1.46 -0.31 -0.37

In [21]:
df

      A     B     C     D     E
X -0.07 -2.12  0.09 -0.19  0.16
Y -2.16 -0.61 -1.46 -0.31 -0.37
Z  0.55 -2.15  0.25 -0.81  0.20

In [23]:
df.loc['X']

A   -0.07
B   -2.12
C    0.09
D   -0.19
E    0.16
Name: X, dtype: float64

In [24]:
df.iloc[0]

A   -0.07
B   -2.12
C    0.09
D   -0.19
E    0.16
Name: X, dtype: float64

In [25]:
df.shape

(3, 5)

In [26]:
df[['A', 'B']].loc[['X', 'Y']]

      A     B
X -0.07 -2.12
Y -2.16 -0.61

In [27]:
df > 0.5

       A      B      C      D      E
X  False  False  False  False  False
Y  False  False  False  False  False
Z   True  False  False  False  False

In [28]:
df[df > 0.5]

      A   B   C   D   E
X   NaN NaN NaN NaN NaN
Y   NaN NaN NaN NaN NaN
Z  0.55 NaN NaN NaN NaN

In [29]:
df['A'] < 1

X    True
Y    True
Z    True
Name: A, dtype: bool

In [30]:
df[df['A'] < 1]

      A     B     C     D     E
X -0.07 -2.12  0.09 -0.19  0.16
Y -2.16 -0.61 -1.46 -0.31 -0.37
Z  0.55 -2.15  0.25 -0.81  0.20